/* *{
  border: 1px solid red;
} */

.pointer {
  cursor: pointer;
}

.container-fluid{
  background-color: #261447;
  min-height: 133vh;
}

.fa-trash-alt{
  font-size: .7rem;
}

.btn.fab{
  padding: .25rem;
  border-radius: 50%;
  display: flex;
  align-items: left;
  justify-content: left;
}